@use "./app/styles/variables.scss";
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { 
    margin: 0; 
    padding-top: 70px;
    padding-bottom: 150px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
